<%- include('./Partials/header')%>
    <!--  -->
    <%- include('./Partials/nav')%>
        <!--  -->

        <div class="siginPage">
            <div class="SignInForm">
                <form action="/profile" method="post">
                    
                </form>
            </div>
        </div>
        <!--  -->
        <%- include('./Partials/footer')%>