<%- include('./Partials/header')%>
    <!--  -->
    <div class="SignInForm bg-dark container w-100 m-10 ">
        <form action="signin" method="post" class="form-control m-auto w-50">
            <div class="mb-3">
                <input type="email" name="email" placeholder="Email address" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <input type="password" name="password" placeholder="Password" class="form-control"
                    id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
        <a href="">Forgotten password?</a><br>
        <a href="/signup">Create new account</a>
    </div>
    <!--  -->
    <%- include('./Partials/footer')%>